@page
@{
    ViewData["Title"] = "后台";
}
@section Head
{
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}
<div id="root" class="app-wrapper"></div>

@section Scripts {
    <script src="~/js/admin.js" asp-append-version="true"></script>
}
