@page
@{
    ViewData["Title"] = "登录";
}
@section Head
{
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}
<div id="root" class="app-wrapper"></div>

@section Scripts {
    <script src="~/js/login.js" asp-append-version="true"></script>
}
